.tasksTable tbody tr td {
    border: 1px solid;
    padding: 5px;
}

.tasksTable{
    border-collapse: collapse;
}

.taskform div {
    clear: both;
    float: left;
}

.errorMessage{
    color: red;
}